html.dark {
  @apply [color-scheme:dark];
}

body {
  @apply font-open-sans text-slate-700 antialiased bg-slate-50;
  @apply dark:bg-slate-900 dark:text-slate-300;
}

/* headings */
h1 {
  @apply text-4xl font-inter;
}

h2 {
  @apply text-3xl font-inter;
}

h3 {
  @apply text-2xl font-inter;
}

/* links */
a.link {
  @apply text-blue-500 hover:text-blue-600;
}

.scrollbar-hidden {
  /* Firefox */
  scrollbar-width: none;

  /* Webkit-based browsers (Chrome, Safari, Edge) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Internet Explorer/Edge */
  -ms-overflow-style: none;
}

/* Style the scrollbar */
::-webkit-scrollbar {
  @apply w-2 h-2;
}

/* Style the track (the part the thumb slides within) */
::-webkit-scrollbar-track {
  @apply bg-none;
}

/* Style the thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  @apply bg-slate-700;
}

/* Hover effect for the thumb */
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-600;
}
